#page-title {
  color: #524A54;
  font-size: 72px;
  text-align:  center;
}
.heading {
  background-color: #67A96A;
}
/*add picture-*/
/*add styling*/
/*make the box look pretty*/

body {
  background-color: #857889;
}

title {
  font-style: italic;
  font-size: 35px;
}
.selected {
  color: #DDD;
}
